* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

button {
    font-family: 'Poppins', sans-serif;
}
header {
    display: flex;
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;

}

.logo-container, 
.nav-links, 
.cart {
    display: flex;
    
}
.logo {
    margin: 5px;

}
.nav-links {
    justify-content: space-around;
    list-style: none;
}
.nav-link {
    color: #5f5f79;
    font-size: 18px;
    text-decoration: none;
}
.logo-container {
    flex: 1;
}
nav {
    flex: 2;
}

.cart{
    flex: 1;
    justify-content: flex-end;
}

.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}
.introduction {
    flex: 1;
}
.cover {
    flex: 1;
}
.intro-text {
    color: black;
}

.intro-text h1 {
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text p {
     margin-top: 5px;
     font-size: 22px;
     color: #585772;
}

.cta {
    padding: 50px 0px 0px 0px;
}

.cta-select {
    border: 2px solid #c36cbb;
    background: transparent;
    color: #c36cbb;
    width: 150px;
    height: 50px;
    font-size: 16px;

}
.cta-add {
    border: 2px solid #c36cbb;
    background: #c36cbb;
    color: white;
    width: 150px;
    height: 50px;
    font-size: 16px;
    margin: 30px 0px 0px 30px;
}

.cover img{
    height: 100%;
    filter: drop-shadow(0px 10px 5px black);
    animation: drop 1.5s ease;
}

.big-circle {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.5;
    height: 85%;
}

.medium-circle {
    position: absolute;
    top: 30%;
    right: 30%;
    z-index: - 1;
    height: 60%;
    opacity: 0.4;
}

.small-circle {
    position: absolute;
    bottom: 0%;
    left: 25%;
    z-index: -1;
    height: 37%;
}

.laptop-select {
    width: 15%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 20%;
}

@keyframes drop {
   0% {
       opacity: 0;
       transform: translateY(-80px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }

}

@media screen and (max-width: 1024px) {
    .presentation {
        flex-direction: column;
    }
    .introduction {
        margin-top: 5vh;
        text-align: center;

    }
    .intro-text h1 {
        font-size: 18px;
    }
    .intro-text p {
        font-size: 18px;
    }
    .cta {
        padding: 10px 0px 0px;
    }
    .laptop-select {
        bottom: 5%;
        right: 50%;
        width: 50%;
        transform: translate(50%, 5%);
    }
    .cover img {
        height: 300px;
        width: 450px;
    }
    .small-circle,
    .medium-circle,
    .big-circle {
        opacity: 0.2;
    }
}
